.container-input {
    position: relative;        
    overflow: hidden;
    border: 1px solid #ccc; /* Adiciona uma borda ao contêiner */    
    height: 30px;
}

.campo-input {
    position: absolute;
    width: calc(100% - 2px); /* Ajusta a largura para caber dentro da borda do contêiner */
    height: calc(100% - 2px); /* Ajusta a altura para caber dentro da borda do contêiner */
    border: none; /* Remove a borda do input para evitar sobreposição */
    text-align: center;
    font-size: 16px;
    transition: transform 0.5s ease-in-out;
    box-sizing: border-box; /* Inclui padding e borda nas dimensões totais */
}

.campo-input.novo {
    transform: translateY(100%);
}

.campo-input.anterior {
    transform: translateY(-100%);
}