
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.br-checkbox {
  display: flex;
  align-items: center;
  text-align: center; 
  justify-content: center;
  align-items: center;
}

#container_remessa_conforme label {
  align-items: center;
  text-align: center; 
  justify-content: center;
  align-items: center;
  margin-bottom: 1px;  
}

#atualizar_dolar_label { 
  margin-bottom: 100px;      
}

.total-sum {  
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}

#valor_cotacao_dolar{
  width: 60px;
  text-align: right;
}


/* Tirar daqui para baixo - "Interferência" com o CSS do dados_remessa */

.painel_informacoes > .row{
display: flex;
flex-direction: column;
}
