

.valor-remessa {
    height: 165px;
    margin-bottom: 30px;
    text-align: center;
    justify-content: center;
    justify-self: center;
    align-items: center;   
}

.linha {
  display: flex;
  flex-direction: column;  
}

.coluna-linha {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.coluna-input {
  flex: 1 1 45%;
  max-width: 45%;
}


.br-input label{
  text-align: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
}