.br-input label{
  text-align: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
}

.br-input input{
  text-align: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
}

.br-input > .valor-remessa{
  text-align: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
}

.br-input > .total-remessa {
  text-align: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
  
}

.br-input input{
  margin-top: 15px;
}
