
#adicionar_remessa{
    display: none;
}

#remessas {
    display: block; /* Mostra o mobile */
}


#container-lista-remessa {
    position: relative; 
}

#cabecalho_informacoes {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center; /* Opcional, para centralizar verticalmente os elementos */
    text-align: right; /* Para garantir que o texto dentro dos elementos também esteja alinhado à direita */
}

#valor_cotacao_dolar{
    width: 60px;
    text-align: center;
    justify-content: center;
    justify-self: center;
    align-items: center;
  }