
.title-section {
text-align: center;
font-weight: 500;
font-size: 30px;
margin-top: 15px;
margin-bottom: 50px;
}
.container .fakeImg {
    background: no-repeat center;
    background-size: cover;    
}

.container
{
    display: nline-block;
    border: 2px solid red;
    margin: 4px;
}
.container-labin img{
    max-width: 700px;
    max-height: 500px;
    width: auto;
    height: auto;
} 
.labin .container-labin{
    display: flex;
    align-items: center;
}

.labin .labin-rfb-text{
    width: 50%;
    padding: 0 40px;
}

.flabin .labin-rfb-text h3{
    font-size: 56px;
}

.labin .labin-rfb-text p{
    margin: 5px 0 10px 0;
}

.labin .labin-rfb-img{
    width: 50%;
}

.labin .labin-rfb-imgimg{
    width: 100%;
}

