.row {
display: flex;
flex-direction: none;
}

.container-total-remessa{
  margin-bottom: 15px;
}

.campo-oculto{
  display: none;
}

.br-input, 
.input-inline,
.input-label,
.text-nowrap,
.input-content,
.diferenca-remessa-conforme,
.text-nowrap {
  text-align: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
}

.segundo-label{
  margin-top: 11px;
  margin-left: 10px;
}

.input-content > .diferenca-remessa-conforme{
  width: 90px;
  background-color: #F8F8F8;
}

.titulo,
.valor-remessa{
  color: #0C326F;
  font-weight: bold;
}

.br-input > .total-remessa {
  font-size: 25px;
}

.sem-remessa-conforme{
  background-color: #FFF5C2;
}

.com-remessa-conforme{
  background-color: #DDF9C7;
}

.remessa-conforme-inativo{
  background-color: #F8F8F8;
}


.left-aligned-label {
  text-align: left;
  display: block; /* Certifica-se de que o label ocupa a largura total disponível */
  margin: 0; /* Remove qualquer margem indesejada */
  padding: 0; /* Remove qualquer padding indesejado */
}

.left-aligned-label-mobile{
  display: none;
}

@media (max-width: 991px) {
  .left-aligned-label{
    display: none;
  }

  .left-aligned-label-mobile{
    text-align: left;
    display: block; /* Certifica-se de que o label ocupa a largura total disponível */
    margin: 0; /* Remove qualquer margem indesejada */
    padding: 0; /* Remove qualquer padding indesejado */
  }
}

.br-input > .campos-calculados{
  border: none;
  background-color: none;
}

.input-content > .campos-calculados{
  border: none;
  background-color: none;
  text-align: right;
  justify-content: center;
  justify-self: center;
  align-items: center;
}

/*
.br-input label{
  text-align: center;
  justify-content: center;
  justify-self: right;
  align-items: center;
}
*/
.br-input input{
  margin-top: 15px;
  text-align: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
}

.br-input > .valor-remessa{
  text-align: left;
  justify-content: left;
  justify-self: left;
  align-items: left;
}

.br-input > .total-remessa {
  text-align: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
  
}

@media (min-width: 398px) and (max-width: 650px) {
  .valor-remessa::after {
    content: "";
    display: block;
    height: 1.5em; /* Altura do espaço do <br> */
  }
}

@media (max-width: 655px) {
  .icms-remessa::after {
    content: "";
    display: block;
    height: 1.5em; /* Altura do espaço do <br> */
  }
}

.container-acoes-remessa {
  display: flex;
  text-align: end;
  justify-content: flex-end;
  justify-self: flex-end;
  align-items: flex-end;
  margin-top: 30px;
  margin-right: 30px;
} 