
#adicionar_remessa{
    display: none;
}

#remessas {
    display: block; /* Mostra o mobile */
}


#container-lista-remessa {
    position: relative; 
}

#cabecalho_informacoes {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center; /* Opcional, para centralizar verticalmente os elementos */
    text-align: right; /* Para garantir que o texto dentro dos elementos também esteja alinhado à direita */
}

.br-input, 
.input-inline,
.input-label,
.input-content,
.valor_cotacao_dolar {
  text-align: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
}

  @media (max-width: 575px){
  .row-texto{
    margin-left: 15px;
    margin-right: 15px;
  }
}